<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>average</th>
    </tr>
  </thead>
  <tbody>
    <% list.each do |i| %>
      <tr>
        <td><%= link_to i.name, i %></td>
        <td><%= round i.average_rating %></td>
      </tr>
    <% end %>
  </tbody>
</table>